/* .main {
  color: rebeccapurple;
  border: 2px solid #cccccc;
  padding: 1em;
}

.special {
  color: black;
  font-weight: bold;
} */

body {
  color: green;
}

.my-class-1 a {
  all: inherit;
}

.my-class-2 a {
  all: initial;
}

.my-class-3 a {
  all: unset;
}

a {
  color: red;
}