* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 600px;
    margin: 40px auto;
}

section {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding: 5px;
}

