* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #BDB76B;
    color: #D3D3D3;
}

.calendar-wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    font-size: 125%;
}

button {
    background: black;
    color: #D3D3D3;
    border: none;
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    font-size: 115%;
    outline: none;
}

button:hover {
    background: #D3D3D3;
    color: black;
    
}

button:active {
    transform: scale(0.95); 
}

#week-days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

#days-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
}

.current-day {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    background-color: #D3D3D3;
    color: black;
    border-radius: 25px;
    outline: 3px solid black;
    outline-offset: -5px;
    font-weight: bold;
}





